/* src/calendar-custom.css */
.react-calendar {
  border: none !important;
  font-family: inherit !important;
  width: 100% !important;
  background: transparent !important;
}

.react-calendar__tile {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  height: 65px !important; /* ドットが入る分、少し高く */
  padding-top: 10px !important;
  border-radius: 12px;
}

.react-calendar__tile--active {
  background: #4f46e5 !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #f8fafc !important;
  color: #4f46e5 !important;
  border: 1px solid #e0e7ff !important;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #f3f4f6;
  border-radius: 10px;
}

/* 曜日ヘッダーの調整 */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  font-size: 0.7rem;
  color: #9ca3af;
  font-weight: 800;
}